body {
  background-color: #34b7eb !important;
}

.contenido {
  margin: 61px 10% 0px;
  background-color: #fff;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background: rgba(0, 0, 0, 0.10);
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.35);
}

.carousel-item img{
  width: 80%;
  max-height: 450px;
}

.card {
  margin: 0px 20%;
}

.btn-option {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-option:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top{
  max-width: 30%;
  max-height: 5rem;
  border-radius: 50% !important;
}

.modal-body .container-fluid .carousel .carousel-inner .carousel-item img {
  width: 100% !important;
  max-height: 300px;
}